body
{
    background: #26FFD4;
}

.MenuLateral
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.MenuLateral a
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.MenuLateral a:hover
{
    color: #f1f1f1;
}

.MenuLateral .CerrarBtn
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#Contenido
{
    transition: margin-left .5s;
    padding: 16px;
}

#DocPlan
{
    background: white;
    width: 1063px;
}

table
{
    width: 957px;
}

table, td
{
    border-collapse: collapse;
    border: 1px solid black;
}

td
{
    padding: 0in 5.4pt 0in 5.4pt;
}

p
{
    font-family: 'Arial',sans-serif;
    font-size: "10pt";
}

.Requerimiento
{
    background: #BFBFBF;
    text-align: center;
    font-weight: bold;
}

.Subrequerimiento
{
    background: #E6E6E6;
    text-align: center;
    font-weight: bold;
}

.TituloSeccion
{
    background: #92CDDC;
    text-align: center;
    font-weight: bold;
}
