body{
    background-color: #FFFFFF;
}

.contenedor{
      background-color: #2b3137;
      background-position: center 10%;
      background-size: cover;
      color: hsla(0, 0%, 100%, 0.6);
      padding-top: 40px!important;
      padding-bottom: 40px!important;
      margin-left: 40px;
}
.contenido{
    background-color: #eee;
   color: #444;
   cursor: pointer;
   padding: 18px;
   border: none;
   text-align: left;
   outline: none;
   font-size: 15px;
   transition: 0.4s;
   margin-left: 10px;
   margin-right: 10px;
}
.accordion {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #000;
    color: #FFF;
}

.panel {
    padding: 0px 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    font-size: 18px;
}
.label{
  padding: 10px;
  height: 30px;
  font-size: 18px;
}
.label:hover{
  background-color: #ccc;
}
.encabezado{
  text-align: center;
  font-size: 40px;
  width: 100%;
}
.espacio{
  height: 10px;
}
