body
{
    background: #FFF;
    background-image: url("../Imagenes/CECyTEM.png");
    background-position:top;
    background-size: 350px;
    background-repeat: no-repeat;
}

#Contenido
{
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 40px;
}
