body
{
    background: #FFF;
}

#Contenido
{
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 40px;
}

.solicitud{
      display: block;
      position: fixed;
      z-index: 1;
      padding-top: 100px;
      left: 0;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: white;
      opacity: 7;
      margin: 0;
}
.solicitud-contenido{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.solicitud-header{
    padding:  2px 16px;
    background-color: #5cb85c;
    color: white;
}
.solicitud-body {padding: 2px 16px;}

.solicitud-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.block{
  padding: 15px 25px;
  background-color: #2ebc4f;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  display: inline-block;
  transition: .2s;
  font-size: 16px;
  text-align: center;
  width: 95%;
  cursor: pointer;
  margin-top: 20px;
}
.input-container{
    display: flex;
    width: 100%;
    margin: 0;
}
.input-field{
    padding: 10px;
    outline: none;
}
.input-field:focus {
    border: 2px solid dodgerblue;
}
.btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    min-width: 200px;
}
.btn:hover {
    opacity: .1;
}
