.caja{
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  display: block;
  background-color:  #2a3137;
  background-clip: padding-box;
  min-height: 28px;
}
.caja-ancho{
  width: auto;
  position: relative;
  display: block;
  height: auto;
  margin-right: 20px;
  margin-left: 40px;
}
.encabezado{
  overflow: visible;
  display: block;
  background: transparent;
  width: auto;
  margin-right: 10px;
  padding-left: 0;
  color: #FFFFFF;
}
.label{
  border-width: 1px 1px 1px 6px;
  padding: 0;
  line-height: 50px;
  font-size: 16px;
}
.contenedor{
  background-clip: padding-box;
  overflow: visible;
  padding: 0;
  line-height: 50px;
}
.seccion{
  overflow: visible;
  display: block;
  margin-right: 15px;
  margin-bottom: 15px;
  background: transparent;
}
.icono{
  height: 150px;
  width: 118px;
  background-color: #FFFFFF;
}
