#DocPlan
{
    background: white;
    width: 1063px;
}

table
{
    width: 1000px;
}

table, td
{
    border-collapse: collapse;
    border: 1px solid black;
}

td
{
    padding: 10px 4px;
}

p
{
    font-family: 'Arial',sans-serif;
    font-size: 10px;
}

.Requerimiento
{
    background: #BFBFBF;
    text-align: center;
    font-weight: bold;
    font-size:18px;
    height: auto;
    width: 130px;
    max-width: 140px;
    text-align: right;
}

.Subrequerimiento
{
    background: #E6E6E6;
    text-align: center;
    font-weight: bold;
}

.TituloSeccion
{
    background: #92CDDC;
    text-align: center;
    font-weight: bold;
}

.contenedor
{
  background-color: #2E2E2E;
  background-position: center 10%;
  background-size: cover;
  color: #FFFFFF;
  padding: 40px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 0;
  width: 1100px;
}

.contenido
{
    background-color: #ccc;
    color: #444;
    padding: 20px 45px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin: 0;
}

.accordion
{
    background-color: #92CDDC;
    color: #111;
    cursor: pointer;
    padding: 18px;
    width: 1000px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
}

.active, .accordion:hover
{
    background-color: #92CDDC;
    color: #111;
}

.panel
{
    padding: 0;
    display: none;
    background-color: #FFF;
    overflow: hidden;
    font-size: 18px;
    height: 200px;
    width: 1000px;
    overflow: auto;
}

.label
{
  padding: 10px;
  height: 30px;
  font-size: 18px;
}

.label:hover
{
  background-color: #ccc;
}

.encabezado
{
  text-align: center;
  font-size: 30px;
  width: 100%;
  color: #111111;
}

.espacio
{
  height: 10px;
}
.menuFijo{
    overflow: hidden;
    background-color: #646464;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: 40px;
}
.menuFijo a{
    float: left;
    display: block;
    color: #F2F2F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.menuFijo a:hover{
  background: #DDD;
  color: black;
}
.input-container{
    display: flex;
    width: 100%;
    margin: 0;
}
.input-field{
    padding: 10px;
    outline: none;
}
.input-field:focus {
    border: 2px solid dodgerblue;
}
.btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    min-width: 200px;
}
.btn:hover {
    opacity: .1;
}
.select-p{
    font-size:18px;
    margin: 0;
}
